* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
.nav {align-items: center; width:100%; background-color:rgba(37, 32, 99, 1); padding: 20px; float: right;}
.title {text-align:center; font-size: 50px; justify-content: space-between; font-family: courier; color: white;}
.navbutton { float: right; color: white; font-size: 20px; 
	font-family: courier; text-align: right; padding: 10px 12px; text-decoration: none; }
/*.sideBar {width:200px; }*/
#profile_modal {width:700px; height:700px;background: #eee; text-align: center; font-size: 30px; font-family:courier;}
#modal_header{}
#modal_content{}






















/*.profile_modal {width: 700px; height: 700px;}*/
/*#nav.navbar-default { align-items: center; font-size: 14px; font-color: white; background-color: rgba(37, 32, 99, 1); 
	border-bottom-width: 1px;}
#nav.navbar-default .title {display:flex; font-size: 30px; font-color: white; color: rgba(119, 119, 119, 1)}
#nav.navbar-default .navbar-nav>li>a {align-items: center; display:flex; color: rgba(119, 119, 119, 1); 
	background-color: rgba(248, 248, 248, 0) font-color:white;}
#nav.navbar-default .navbar-nav>li>a:hover,
#nav.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 0);
}
#nav.navbar-default .navbar-nav>.active>a,
#nav.navbar-default .navbar-nav>.active>a:hover,
#nav.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}*/
/*className="navbar navbar-default navbar-static-top"*/