* { margin: 0; padding: 0; box-sizing: border-box; }

body, html {
  font: 13px Helvetica, Arial; 
  overflow: hidden;
  height: 100%;
}
/*form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 50%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }*/

#messages { list-style-type: none; margin: 0; padding: 0; height: 400px;}
#messages li { padding: 5px 10px; min-height: 50px}
#messages li:nth-child(odd) { background: #eee; }


@media (min-width: 768px){
  .LeftSideBar {
    position: absolute;
    top: 25%;
    bottom: 0;
    left: 0;
    width: 25%;
    overflow-y: scroll; 
  }
  
  .PrimaryChatroom {
    position: absolute;
    top: 25%;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 75%;
  }
}

.LeftSideBar {
  /*background-color: #FC6E51;*/
  overflow-y: scroll; 
  top: 141.82px;
  background-color: whitesmoke;
  padding: 30px;
}

.PrimaryChatroom {
  top: 141.82px;
  /*background-color: #4FC1E9;*/
}

.mediaLeftWidth {
  width: 40px;
}

.myChannelButtons {
  background-color: transparent;
  float: right;
}

.myChannelButtonHider .viewThisButton {
  background-color: transparent;
  border: 0;
  display: none;
}
.myChannelButtonHider:hover .viewThisButton {
  background-color: transparent;
  border: 0;
  display: inline;
}

.mediaRightWidth {
  width: 200px;
}

.eachMessage {
  border-top: #F5F5F5 solid 2px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.eachMessage:hover {
  background-color: #F0F0F0;
  border-top: #F5F5F5 solid 2px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.custom-sidebar-class {
  background-color: whitesmoke;
  width: 200px;
}

/*.glyphButton {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}*/

.RSBUsers {
  width: 90%;
  padding: 10px;
  height: 50px;
}

.RSBEachUser {
  padding: 5px;
  background-color: white;
}

.RSBTitle {
  padding-left: 10px;
}

.signUpButton {
  -moz-box-shadow:inset 0px 0px 50px -22px #ffffff;
  -webkit-box-shadow:inset 0px 0px 50px -22px #ffffff;
  box-shadow:inset 0px 0px 50px -22px #ffffff;
  background-color:#ffffff;
  -moz-border-radius:18px;
  -webkit-border-radius:18px;
  border-radius:18px;
  border:2px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:black;
  font-family:courier;
  font-size:24px;
  padding:10px 10px;
  text-decoration:none;
  text-shadow:0px 2px 50px #ffffff;
}

.signUpButton:active {
  position:relative;
  top:6px;
}

.signUpPage { position: absolute;width: 900px;
  height: 200px;
  z-index: 15;
  top: 45%;
  left: 50%;
  margin: -200px 0 0 -450px;}
.stayConnected {
  color:rgb(246, 246, 245); 
  font-family: courier; 
  font-size: 80px;
  font-weight:bold;
  text-align: center;
  white-space:nowrap;
  overflow:hidden;
  border-right: .15em solid white;
  letter-spacing: .15em;
  animation: 
    typing 3.0s steps(13, end),
    blink-caret 3.9s step-end infinite;
}


@keyframes typing {
    from { width: 0 }
    to { width:100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    0% { border-color: white }
}



.signUpLabelsEmail{color:rgb(246, 246, 245)}
.signUpLabels{color:rgb(246, 246, 245)}
.form {
    display: block;
    width: 400px;
    height: 34px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.signUpForm{ margin-top: 55px;font-family: courier; font-size:30px; margin-left: 250px;}
.signUpButton{font-family: courier; font-size:40px; margin-top: 40px;}
.logInPage {position: absolute; 
  width: 900px; height: 200px; 
  z-index: 15; color:rgb(246, 246, 245); top: 50%;
  left: 50%;
  margin-top: 150px;
  margin: -200px 0 0 -450px;
  font-family: courier; font-size: 40px; font-weight:bold;}
.logInLabels{color:rgb(246, 246, 245) font-size: 30px; font-family:courier;}
.logForm{
  margin-top: 55px;font-family: courier; font-size:30px; margin-left: 250px;
}
.logInForm{
    display: block;
    width: 400px;
    height: 34px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.logInButton{
  -moz-box-shadow:inset 0px 0px 50px -22px #ffffff;
  -webkit-box-shadow:inset 0px 0px 50px -22px #ffffff;
  box-shadow:inset 0px 0px 50px -22px #ffffff;
  background-color:#ffffff;
  -moz-border-radius:18px;
  -webkit-border-radius:18px;
  border-radius:18px;
  border:2px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:black;
  font-family:courier;
  font-size:24px;
  padding:10px 10px;
  text-decoration:none;
  text-shadow:0px 2px 50px #ffffff;
}
.logInButton:active {
  position:relative;
  top:6px;
}

.logInButtons{
  margin-left: 13%;
  margin-top: 20px;
}
.logInSignUpButton{
 -moz-box-shadow:inset 0px 0px 50px -22px #ffffff;
  -webkit-box-shadow:inset 0px 0px 50px -22px #ffffff;
  box-shadow:inset 0px 0px 50px -22px #ffffff;
  background-color:#ffffff;
  -moz-border-radius:18px;
  -webkit-border-radius:18px;
  border-radius:18px;
  border:2px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:black;
  font-family:courier;
  font-size:24px;
  margin-left: 20px;
  padding:10px 10px;
  text-decoration:none;
  text-shadow:0px 2px 50px #ffffff;
}
.logInSignUpButton:active {
  position:relative;
  top:6px;
}

.navbar navbar-default{text-decoration: none;}
.nav {align-items: center; width:100%; background-color: rgba(23, 27, 89, 1);
    background: -webkit-linear-gradient(top, rgba(15, 28, 64, 1) 0%, rgba(23, 27, 89, 1) 100%);
    background: linear-gradient(to bottom, rgba(15, 28, 64, 1) 0%, rgba(23, 27, 89, 1) 100%); float: right;}
.title {text-align:center; font-size: 50px; justify-content: space-between; font-family: courier; color: rgb(246, 246, 245); font-weight: bold;}

.navbutton {font-weight:bold; font-size: 25px; color:rgb(246, 246, 245); font-family: courier; 
            text-align: right; padding: 10px 12px; text-decoration: none; float: right; }
.helloUser{font-size: 25px; color:white; font-family: courier; margin-top: auto;
            text-align: left; padding: 10px 12px; float:left; font-weight: bold;}
ul.nav {
  background: white;
}

.profileTitle {
  text-align: center;
}

.profileImg2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*.sideBar {width:200px; }
/*.overlay {position: absolute; top:0; left:0; height: 100%; width: 100%; z-index: 9999;}
/*{initialuser}*/
/*.profile_modal {width:600px; height: 400px;  height: 200px; position:fixed;
z-index: 9998;top:50%; left:50%; margin-top:-210px; margin-left:-103px;
text-align: center; font-size: 20px; font-family:courier; border-width: 10px}
*/
/*{otheruser}*/
/*.modal-dialog{width:600px; height: 600px; position:fixed;
z-index: 9998;top:50%; left:50%; margin-top:-210px; margin-left:-103px;
text-align: center; font-size: 20px; font-family:courier; border-width: 10px}
{edit profile}{initialprofile}
.modal-content{background: #eee; width:600px; height: 400px; position:fixed;
z-index: 9998;top:50%; left:50%; margin-top:-210px; margin-left:-103px;
text-align: center; font-size: 20px; font-family:courier; border-width: 10px}*/
.aboutMeSize {width: 400px; height:50px;}
.aboutMeInput {width:400px; height:50px;}
.profileHeading{text-align: left;}
/*.chatbodypic{float: left; width: 50px}*/
.chatpic{max-height: 40px; display: block; margin: auto;}

/*.msgbody{display: flex; align-content: stretch; flex-direction: row}*/
.analytics-link {
  text-decoration: none;
  color: black;
}

.dropdown-title {
  float: left;
}

.dropdown-analytics {
  float: right;
  max-width: 20%;
  top: 24%;
}

.bar-analytics {
  /*display: block;*/
  top: 27%;
  position: absolute;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title{
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

.emoji-mart,
.emoji-mart * {
  box-sizing: border-box;
  line-height: 1.15;
}

.emoji-mart {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  font-size: 16px;
  display: inline-block;
  color: #222427;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background: #fff;
}

.emoji-mart .emoji-mart-emoji {
  padding: 6px;
}

.emoji-mart-bar:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.emoji-mart-bar:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.emoji-mart-anchors {
  display: flex;
  justify-content: space-between;
  padding: 0 6px;
  color: #858585;
  line-height: 0;
}

.emoji-mart-anchor {
  position: relative;
  flex: 1;
  text-align: center;
  padding: 12px 4px;
  overflow: hidden;
  transition: color .1s ease-out;
}
.emoji-mart-anchor:hover,
.emoji-mart-anchor-selected {
  color: #464646;
}

.emoji-mart-anchor-selected .emoji-mart-anchor-bar {
  bottom: 0;
}

.emoji-mart-anchor-bar {
  position: absolute;
  bottom: -3px; left: 0;
  width: 100%; height: 3px;
  background-color: #464646;
}

.emoji-mart-anchors i {
  display: inline-block;
  width: 100%;
  max-width: 22px;
}

.emoji-mart-anchors svg {
  fill: currentColor;
}

.emoji-mart-scroll {
  overflow-y: scroll;
  height: 270px;
  padding: 0 6px 6px 6px;
  border: solid #d9d9d9;
  border-width: 1px 0;
}

.emoji-mart-search {
  font-size: 16px;
  display: block;
  width: 100%;
  padding: .2em .6em;
  margin-top: 6px;
  border-radius: 25px;
  border: 1px solid #d9d9d9;
  outline: 0;
}

.emoji-mart-category .emoji-mart-emoji span {
  z-index: 1;
  position: relative;
}

.emoji-mart-category .emoji-mart-emoji:hover:before {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: #f4f4f4;
  border-radius: 100%;
}

.emoji-mart-category-label {
  z-index: 2;
  position: relative;
  position: -webkit-sticky;
  top: 0;
}

.emoji-mart-category-label span {
  display: block;
  width: 100%;
  font-weight: 500;
  padding: 5px 6px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, .95);
}

.emoji-mart-emoji {
  position: relative;
  display: inline-block;
  font-size: 0;
}

.emoji-mart-no-results {
  font-size: 14px;
  text-align: center;
  padding-top: 70px;
  color: #858585;
}
.emoji-mart-no-results span {
  display: inline-block;
  vertical-align: middle;
}

.emoji-mart-preview {
  position: relative;
  height: 70px;
}

.emoji-mart-preview-emoji,
.emoji-mart-preview-data,
.emoji-mart-preview-skins {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.emoji-mart-preview-emoji {
  left: 12px;
}

.emoji-mart-preview-data {
  left: 68px; right: 12px;
  word-break: break-word;
}

.emoji-mart-preview-skins {
  right: 30px;
  text-align: right;
}

.emoji-mart-preview-name {
  font-size: 14px;
}

.emoji-mart-preview-shortname {
  font-size: 12px;
  color: #888;
}
.emoji-mart-preview-shortname + .emoji-mart-preview-shortname,
.emoji-mart-preview-shortname + .emoji-mart-preview-emoticon,
.emoji-mart-preview-emoticon + .emoji-mart-preview-emoticon {
  margin-left: .5em;
}

.emoji-mart-preview-emoticon {
  font-size: 11px;
  color: #bbb;
}

.emoji-mart-title span {
  display: inline-block;
  vertical-align: middle;
}

.emoji-mart-title .emoji-mart-emoji {
  padding: 0;
}

.emoji-mart-title-label {
  color: #999A9C;
  font-size: 26px;
  font-weight: 300;
}

/*.emoji-mart-skin-swatches {
  font-size: 0;
  padding: 2px 0;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  background-color: #fff;
}
.emoji-mart-skin-swatches-opened .emoji-mart-skin-swatch {
  width: 16px;
  padding: 0 2px;
}
.emoji-mart-skin-swatches-opened .emoji-mart-skin-swatch-selected:after {
  opacity: .75;
}
.emoji-mart-skin-swatch {
  display: inline-block;
  width: 0;
  vertical-align: middle;
  transition-property: width, padding;
  transition-duration: .125s;
  transition-timing-function: ease-out;
}
.emoji-mart-skin-swatch:nth-child(1) { transition-delay: 0 }
.emoji-mart-skin-swatch:nth-child(2) { transition-delay: .03s }
.emoji-mart-skin-swatch:nth-child(3) { transition-delay: .06s }
.emoji-mart-skin-swatch:nth-child(4) { transition-delay: .09s }
.emoji-mart-skin-swatch:nth-child(5) { transition-delay: .12s }
.emoji-mart-skin-swatch:nth-child(6) { transition-delay: .15s }
.emoji-mart-skin-swatch-selected {
  position: relative;
  width: 16px;
  padding: 0 2px;
}
.emoji-mart-skin-swatch-selected:after {
  content: "";
  position: absolute;
  top: 50%; left: 50%;
  width: 4px; height: 4px;
  margin: -2px 0 0 -2px;
  background-color: #fff;
  border-radius: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s ease-out;
}
.emoji-mart-skin {
  display: inline-block;
  width: 100%; padding-top: 100%;
  max-width: 12px;
  border-radius: 100%;
}
.emoji-mart-skin-tone-1 { background-color: #ffc93a }
.emoji-mart-skin-tone-2 { background-color: #fadcbc }
.emoji-mart-skin-tone-3 { background-color: #e0bb95 }
.emoji-mart-skin-tone-4 { background-color: #bf8f68 }
.emoji-mart-skin-tone-5 { background-color: #9b643d }
.emoji-mart-skin-tone-6 { background-color: #594539 }*/










































/*For RightSideView using react-side-bar module*/
html, body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  /*overflow: hidden;*/
}

#example > div {
  height: 100vh;
}

.side-bar-content, .side-bar-panel, .side-bar {
  height: 100vh;
}

.side {
  background-color: #DADFE3;
  height: 100vh;
  padding: 10px;
}










/*.form-control {
    display: block;
    width: 400px;
    height: 34px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control {
    width: 50%;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: courier;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
user agent stylesheet
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    padding: 1px;
    border: 2px inset;
}
/*.form-control {
    width: 400px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 15px; font-family: courier;
    border: 1px solid #ccc;
    border-radius: 8px;
  }*/
/*#background-video{
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}*/

.modal-content{
  font-family: courier;
  width: 700px;
}
.profilePicture {
  padding: 8px;
  margin-left:auto;
  margin-right:auto;
  width:599px;
  height:210px;
  margin-left: 265px;
}

.pictureImg{
    height: 150px;
    /*margin-left: 220px;*/
}

.pictureInput{
  margin-left: -20px;
  padding-top:5px;
}
.modal-header {
  padding: 3px;
  border-bottom: 1px solid #e5e5e5;
}

#modal_header {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.label{
  color:black;
}

.form-control {
    width: 400px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 15px; font-family: courier;
    border: 1px solid #ccc;
    border-radius: 8px;

  }
.modal-body{
  padding:1px;
}

.restProfile{
  font-size: 16px;
  margin-left: 150px;

}

.restProfile2{
  font-size: 16px;
  margin-left: 50px;
  margin-top: 30px;
  width:600px;
}
.aboutMeInput.form-control {
  height: 50px;
  width: 400px;
  text-align: left;
}

.socialMedia{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.tableUsername{
  font:18px;
}

.otheruserprofile{
  margin-top: 30px;
}
.colors{
  background: whitesmoke;
}
/*//chatBody*/
.chatInput{
  width: 500px;
  height: 30px;
  padding-right: 10px;
  font-size: 18px;
}

.chatForm {
  position: fixed;
  bottom: 0;
}
.chatFormButton{
  margin-left: 10px;
  margin-bottom: 3px;
  font-family: courier;
  font-weight: bold;
  height: 34px;
  width: 76px;
}

.chatBody {
  height: 400px;
  overflow-y: scroll;
}

.background{
  background-image: url('/styles/sky.jpg');
  background-size: contain;
  height: 100vh;
}


