* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
/*form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 50%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }*/
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
.nav {align-items: center; width:100%; background-color:rgba(37, 32, 99, 1); padding: 20px; float: right;}
.title {text-align:center; font-size: 50px; justify-content: space-between; font-family: courier; color: white;}
.navbutton { float: right; color: white; font-size: 20px; 
	font-family: courier; text-align: right; padding: 10px 12px; text-decoration: none; }
/*.sideBar {width:200px; }*/
#profile_modal {width:100%; height: 100%; position: fixed; z-index: 9998; top:0; background: #eee; text-align: center; font-size: 30px; font-family:courier;}
#modal_header{}
#modal_content{}
.table {z-index: 9998;,width:50%; height: 50%; position: center; top:0; background: #eee; text-align: center; font-size: 30px; font-family:courier;}
.tableUsername
.tableOtherUserInformation {text-align: center;}
.profileHeading{text-align: left;}
.chatpic{max-height: 40px;}
.msgbody{display: flex; justify-content: flex-start; flex-direction: row}




















/*.profile_modal {width: 700px; height: 700px;}*/
/*#nav.navbar-default { align-items: center; font-size: 14px; font-color: white; background-color: rgba(37, 32, 99, 1); 
	border-bottom-width: 1px;}
#nav.navbar-default .title {display:flex; font-size: 30px; font-color: white; color: rgba(119, 119, 119, 1)}
#nav.navbar-default .navbar-nav>li>a {align-items: center; display:flex; color: rgba(119, 119, 119, 1); 
	background-color: rgba(248, 248, 248, 0) font-color:white;}
#nav.navbar-default .navbar-nav>li>a:hover,
#nav.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 0);
}
#nav.navbar-default .navbar-nav>.active>a,
#nav.navbar-default .navbar-nav>.active>a:hover,
#nav.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}*/
/*className="navbar navbar-default navbar-static-top"*/










































/*For RightSideView using react-side-bar module*/
html, body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  /*overflow: hidden;*/
}

#example > div {
  height: 100vh;
}

.side-bar-content, .side-bar-panel, .side-bar {
  height: 100vh;
}

.side {
  background-color: #DADFE3;
  height: 100vh;
  padding: 10px;
}
